<h3>Post Form</h3>
<%= form_tag posts_path do %>

  <label>Post title:</label><br>
  <%= text_field_tag :'post[title]' %><br>

  <label>Post description:</label><br>
  <%=text_area_tag :'post[description]' %><br>

  <%= submit_tag "Submit Post" %>

<% end %>
<!-- <%= params.inspect %> -->



<!--  after this we have to make a :create route so that the routing system knows what to do. but why a create route? are routes made after html pages and are they always named different  than the page itself? like crete is for this page, and this page :new was for index and so on?-->
